<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <p><%= f.check_box :track %> Track stream</p>
    <p><%= f.check_box :is_ready %> Ready to tweet?</p>
  </div></br>
  <div class="field">
  <%= f.label :tweet_name %>
  <%= f.text_field :tweet_name %>
  </div></br>
  <div class="field">
    <%= f.label :game %>
    <%= f.text_field :game %>
  </div></br>
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div></br>
  <div class="field">
    <%= f.check_box :active %> Active</p>
  </div></br>
  <div class="field">
    <%= f.check_box :use_more %> Use More?</p>
  </div></br>
  <div class="field">
    <%= f.label :stream_url %>
    <%= f.text_field :stream_url %>
  </div></br>
  <div class="field">
    <%= f.label :stream_home_url %>
    <%= f.text_field :stream_home_url %>
  </div></br>
  <div class="field">
    <%= f.label :span %>
    <%= f.text_field :span %>
  </div></br>
    <div class="field">
    <%= f.label :stream_type %>
    <%= f.text_field :stream_type %>
  </div></br>
  <div class="field">
    <%= f.label :item %>
    <%= f.text_field :item, style: "margin-right:20px;"  %>
    <p><%= f.check_box :reverse_stream %> Reverse stream</p>
  </div></br>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div></br>
  <div class="field">
    <%= f.label :picture %>
    <%= f.text_field :picture, style: "margin-right:20px;"  %>
    <p><%= f.check_box :picture_root %> Use Root</p>
  </div></br>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div></br>
  <div class="field">
    <%= f.label :item_link %>
    <%= f.text_field :item_link, style: "margin-right:20px;" %>
    <p><%= f.check_box :link_root %> Use Root</p>
  </div></br>
  <div class="field">
    <%= f.label :limit %>
    <%= f.number_field :limit %>
  </div></br>

  <p>For if it's a forum or something</p>
  <div class="field">
    <%= f.label :replies %>
    <%= f.text_field :replies %>
  </div></br>
  <div class="field">
    <%= f.label :views %>
    <%= f.text_field :views %>
  </div></br>

  <div class="field">
    <%= f.label :by_line %>
    <%= f.text_field :by_line %>
  </div></br>
  <div class="field">
    <%= f.label :site_root %>
    <%= f.text_field :site_root %>
  </div></br>
  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>
  </div></br>
  <div class="field">
    <%= f.label :rank %>
    <%= f.number_field :rank %>
  </div></br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
