<% if @stream.track %>

  <% begin %>
    <% thing = open(stream.stream_url) %>
  <% rescue %>
    <% #nothing here %>
  <% else %>

    <% data = Nokogiri::HTML(thing) %>
  
    <% if @stream.reverse_stream == true %>
      <% data.css(@stream.item).reverse.each do |item| %>
        <% feed_me(@stream, item) %>
      <% end %>
    <% else %>
      <% data.css(@stream.item).each do |item| %>
        <% feed_me(@stream, item) %>
      <% end %>
    <% end %>   
  <% end %>
  
  <% @stream.items.each do |stream_item|%>
    <div class="span<%= @stream.span %> stream_item" style="padding-bottom:20px; margin-top: 10px; margin-left: 0px !important;">
      <% if stream_item.picture %>
        <%= link_to stream.link_root ? "#{@stream.site_root}#{stream_item.item_link}" : "#{stream_item.item_link}", target: "_blank" do %>
          <%= image_tag stream.picture_root ? "#{@stream.site_root}#{stream_item.picture}" : "#{stream_item.picture}", class: "pull-left", style: "width: 98%; padding-bottom: 10px;" %>
        <% end %>
      <% end %>
      
      <h5><%= link_to stream_item.title , @stream.link_root ? "#{@stream.site_root}#{stream_item.item_link}" : "#{stream_item.item_link}", target: "_blank" %></h5>

      <% if stream_item.body %>
        <p><%= stream_item.body %></p>
      <% end %>
      
      <% if @stream.use_more == true %>
        <%= link_to "[MORE]", @stream.link_root ? "#{@stream.site_root}#{stream_item.item_link}" : "#{stream_item.item_link}", target: "_blank" %>
      <% end %>

      <div class="pull-right" style="margin-right:10px">
        <%= "Replies: #{stream_item.replies}" if stream_item.replies %>
        <% if @stream.stream_type == "forum" %>
          <%= " | Views: #{stream_item.views}" if stream_item.views %>
        <% elsif @stream.stream_type == "reddit" %>
          <%= "Rank: #{stream_item.views}" if stream_item.views %>
        <% end %>
      </div>
    </div>
  <% end %>

  

  <% if can? :manage, @stream %><div style="margin-left: 30px;">
    <%= link_to 'Edit', edit_stream_path(@stream) %> |
    <%= link_to 'Back', streams_path %> 
  <% end %>
<% else %>
  <% begin %>
    <% thing = open(stream.stream_url) %>
  <% rescue %>
    <% #nothing here %>
  <% else %>
    <% if @stream.stream_type == "rss_stream" %>
      <% data = Nokogiri::XML(thing) %>
      <% @count = @stream.limit || 30 %>

     
      <% data.xpath(@stream.item).each do |item| %>
        <% if @count.nil? || @count > 0 %>
          <% @count -= 1 unless @count.nil? %>

          <% feed_me(@stream, item) %>
          <% if @title && @item_link %>

            <div class="span<%= @stream.span %> stream_item" style="padding-bottom:20px; margin-top: 10px; margin-left: 0px !important;">
              <% unless @stream.picture == "" || @stream.picture.nil? %>
                  <% if @picture %>
                    <%= link_to stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" do %>
                        <%= image_tag stream.picture_root ? "#{@stream.site_root}#{@picture}" : "#{@picture}", class: "pull-left", style: "width: 98%; padding-bottom: 10px;" %>
                    <% end %>
                  <% end %>
              <% end %>
              
              <h5><%= link_to @title , @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" %></h5>

              <% if @stream.stream_type == "reddit" %>
                <p><% @body if @body %></p>
              <% else %>
                <p><%= @body if @body %></p>
              <% end %>

              <% if @stream.use_more == true %>
                <%= link_to "[MORE]", @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" %>
              <% end %>
              <div class="pull-right" style="margin-right:10px">
                <%= "Replies: #{@replies}" if @replies %>
                <% if @stream.stream_type == "forum" %>
                  <%= " | Views: #{@views}" if @views %>
                <% elsif @stream.stream_type == "reddit" %>
                  <%= "Rank: #{@views}" if @views %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <% else %>
      <% data = Nokogiri::HTML(thing) %>
      <% @count = @stream.limit || 30 %>

      <% if @stream.reverse_stream == true %>
        <% data.css(@stream.item).reverse.each do |item| %>
          <% if @count.nil? || @count > 0 %>
            <% @count -= 1 unless @count.nil? %>

            <% feed_me(@stream, item) %>
            <% if @title && @item_link %>

              <div class="span<%= @stream.span %> stream_item" style="padding-bottom:20px; margin-top: 10px; margin-left: 0px !important;">
                <% unless @stream.picture == "" || @stream.picture.nil? %>
                    <% if @picture %>
                      <%= link_to stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" do %>
                          <%= image_tag stream.picture_root ? "#{@stream.site_root}#{@picture}" : "#{@picture}", class: "pull-left", style: "width: 98%; padding-bottom: 10px;" %>
                      <% end %>
                    <% end %>
                <% end %>
                
                <h5><%= link_to @title , @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" %></h5>

                <% if @stream.stream_type == "reddit" %>
                  <p><% @body if @body %></p>
                <% else %>
                  <p><%= @body if @body %></p>
                <% end %>

                <%= link_to "[MORE]", @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" %>
                <div class="pull-right" style="margin-right:10px">
                  <%= "Replies: #{@replies}" if @replies %>
                  <% if @stream.stream_type == "forum" %>
                    <%= " | Views: #{@views}" if @views %>
                  <% elsif @stream.stream_type == "reddit" %>
                    <%= "Rank: #{@views}" if @views %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% data.css(@stream.item).each do |item| %>
          <% if @count.nil? || @count > 0 %>
            <% @count -= 1 unless @count.nil? %>

            <% feed_me(@stream, item) %>
            <% if @title && @item_link %>

              <div class="span<%= @stream.span %> stream_item" style="padding-bottom:20px; margin-top: 10px; margin-left: 0px !important;">
                <% unless @stream.picture == "" || @stream.picture.nil? %>
                    <% if @picture %>
                      <%= link_to stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" do %>
                          <%= image_tag stream.picture_root ? "#{@stream.site_root}#{@picture}" : "#{@picture}", class: "pull-left", style: "width: 98%; padding-bottom: 10px;" %>
                      <% end %>
                    <% end %>
                <% end %>
                
                <h5><%= link_to @title , @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" %></h5>

                <% if @stream.stream_type == "reddit" %>
                  <p><% @body if @body %></p>
                <% else %>
                  <p><%= @body if @body %></p>
                <% end %>

                <%= link_to "[MORE]", @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}", target: "_blank" %>
                <div class="pull-right" style="margin-right:10px">
                  <%= "Replies: #{@replies}" if @replies %>
                  <% if @stream.stream_type == "forum" %>
                    <%= " | Views: #{@views}" if @views %>
                  <% elsif @stream.stream_type == "reddit" %>
                    <%= "Rank: #{@views}" if @views %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end%>
    <% end %>

    <% if can? :manage, @stream %><div style="margin-left: 30px;">
      <%= link_to 'Edit', edit_stream_path(@stream) %> |
      <%= link_to 'Back', streams_path %> 
    <% end %>
  <% end %>

<% end %>