<% begin %>
  <% thing = open(stream.stream_url) %>
<% rescue %>
  <% #nothing here %>
<% else %>
  <% data = Nokogiri::HTML(thing) %>
  <% @count = @stream.limit || 30 %>

  <% data.css(@stream.item).each do |item| %>
    <% if @count.nil? || @count > 0 %>
      <% @count -= 1 unless @count.nil? %>

      <% feed_me(@stream, item) %>
      <% if @title && @item_link %>

        <div class="span<%= @stream.span %> stream_item" style="padding-bottom:20px; margin-top: 10px; margin-left: 0px !important;">
          <% unless @stream.picture == "" || @stream.picture.nil? %>
              <% if @picture %>
                <%= link_to stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" do %>
                    <%= image_tag stream.picture_root ? "#{@stream.site_root}#{@picture}" : "#{@picture}", class: "pull-left", style: "width: 98%; padding-bottom: 10px;" %>
                <% end %>
              <% end %>
          <% end %>
          
          <h5><%= link_to @title , @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" %></h5>

          <% if @stream.stream_type == "reddit" %>
            <p><% @body if @body %></p>
          <% else %>
            <p><%= @body if @body %></p>
          <% end %>

          <%= link_to "[MORE]", @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" %>
          <div class="pull-right" style="margin-right:10px">
            <%= "Replies: #{@replies}" if @replies %>
            <% if @stream.stream_type == "forum" %>
              <%= " | Views: #{@views}" if @views %>
            <% elsif @stream.stream_type == "reddit" %>
              <%= "Rank: #{@views}" if @views %>
            <% end %>
          </div>
        </div>
<% if false %>
        <% if @body %>
          <% @body = @body.capitalize.gsub(/[^a-z\s]/, '')%>
          <% words = @body.split(" ") %>
          <% words -= @drop_list %>
          <% words.each { |word| @frequencies[word.capitalize] += 1 } %>
          <% words = nil %>
        <% end %>

        <% if @title %>
          <% @title = @title.capitalize.gsub(/[^a-z\s]/, '')%>
          <% words = @title.split(" ") %>
          <% words = words.delete_if {|word| word.length < 4 }%>
          <% words -= @drop_list %>
          <% words.each { |word| @frequencies[word.capitalize] += 1 } %>
          <% words = nil %>
        <% end %>
<% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if can? :manage, @stream %><div style="margin-left: 30px;">
      <%= link_to 'Edit', edit_stream_path(@stream) %> |
      <%= link_to 'Back', streams_path %> 
  <% end %>
<% end %>




  