<table>
  <tr>
    <td>
      <table id="info_table" class="pull-left">
        <tr>
          <td>
            <div class="span4" style="margin-left: 30px;">
              <div id="explanation" style="margin-top:30px; margin-bottom:30px;">
                <h5>What is WildScrape: </h5>
                <ul>
                  <li>The #1(only) WildStar Scrape Site?</li>
                  <li>A totally new kind of fan site?</li>
                  <li>An attempt to contribute to the community!</li>
                  <li><b>A bid at a beta key cupcake!</b></li>
                </ul>
                <h5>What makes WildScrape cool: </h5>
                <div style="padding-top:15px; padding-bottom:5px; padding-left:30px; background-color:#f89406;">
                  <p style='margin-bottom:0px; color:white;'><i>Er, that's pretty damn cool.</i></p>
                  <p style='margin-top:0px; color:white;'><small>-jg (Carbine Studios Executive Producer)</small></p>
                </div>

                
                <h5>WildScrape feedback goes where?</h5>
                <ul>
                  <li>@WildScrape</li>
                  <li>TheWildScrape@gmail.com</li>
                </ul>
                <h5>Whats Next in the WildScrape Beta: </h5>
                <ul>
                  <li>Thinking about adding simple login, then</li>
                  <li>allow users to order their streams.</li>
                  <li>maybe start saving stream items for dynamic uses.</li>
                  <li><b>I will get a beta key!</b></li>
                </ul>
                <div style="padding:30px; background-color:black; color:white;"><p><small>Heya, My name is Joey Lapetina. I'm a professional app developer in Houston Texas and I am super excited about modding WildStar. I am looking for nexus adventuring buddies. Drop me a line!</small></p></div>  
              </div>

              <div id="info" style="margin-top:30px; margin-bottom:30px;">
                <h5>ERMAHGHERD - Whats on this page!? </h5>
                <ul>
                  <li><span class="label" style="background-color:#f89406;"> Streams </span> - lists of tiny little teasers from all around the web. Each stream has a name at the top, then the most recent stream item under that. Follow news from that stream down the page.</li>
                  <li><span class="label" style="background-color:#f89406;"> Stream items </span> - each teaser in a stream. Click it to check it out.</li>
                  <li><span class="label" style="background-color:red;"> NEW </span>
                    <span class="label" style="background-color:#f89406;"> Bump buttons </span> ( <span class="label label-color"><i class="icon-thumbs-up"></i><%= " 32" %></span> ) - Show your favorite stream some love. Streams are default ordered by bumps. Right now you can Bump streams once a visit - I'm trying to encourage and reward visits.
          
                    <p><small><span class="label" style="background-color:#f89406;"> Note: </span> People who want to refresh and bump all day - Works for me! (There will be more ways to order the streams soon.)</small></p>
                  </li>
                </ul>

                <h5>How do you use WildScrape: </h5>
                <p>Look at things. Click on what your interested in. View it on the inter-webs. Come back and do it again! Oh, and make sure you scroll to the right - you don't want to miss anything.</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table style="margin-left: -13px;">
        <tbody>
          <tr id="stream_table">
            <% @streams.each do |stream| %>
              <% if stream.active %>
                <td id="stream<%= stream.id %>">
                  <div class="span<%= stream.span %>" style="margin-left:10px; margin-top: 20px;">
                    <div style="margin-left: 30px;">
                      <p style="margin-right: -20px;">
                        <div class="pull-left">
                          <% if false %>
                            <small><%= link_to send_right_stream_path(stream), style: "margin-left:5px;", class: "pull-right", id: "right#{stream.id}", remote: true do %>
                              <i class="icon-arrow-right"></i>
                            <% end %></small>
                          <% end %>

                          <%= link_to bump_stream_path(stream), class: "pull-right bump", remote: true do %>
                            <span class="label label-color" id="bump<%= stream.id %>"><i class="icon-thumbs-up"></i><%= " #{stream.rank}" %></span>
                            <span class="label lable-color .hide" style="background-color:#f89406 !important;" id="bump_rank<%= stream.id %>"><i class="icon-thumbs-up"></i><%= " #{stream.rank + 1}" %></span>
                          <% end %>

                          <% if false %>
                            <small><%= link_to send_left_stream_path(stream), style: "margin-right:5px;", class: "pull-right", id: "left#{stream.id}", remote: true do %>
                              <i class="icon-arrow-left"></i>
                            <% end %></small>
                          <% end %>
                        </div>
                        <small><%= link_to stream.name, stream.stream_url, class: "", style: "margin-left:5px;" %></small>
                      </p>
                    </div>
                    <div id="stream_holder_<%= stream.id %>">
                      <div class="progress progress-striped active" style="width:80%; margin-left:30px;">
                        <div class="bar" style="width: 100%;"></div>
                    </div>
                  </div>
                </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <% if false %>
          <td>
            <% @frequencies = @frequencies.sort_by {|a, b| b } %>
            <% @frequencies.reverse! %>
            <div id="hist" class="span2" style="margin-left:40px; margin-top: 30px;">
              
              <p><small>WildSite: Histogram</small></p>
              <% @frequencies.each do |word, frequency| %>
                <% if current_user && current_user.admin? %>
                  <%= link_to "#{frequency.to_s}: #{word}", new_word_path(word: word), class: 'remove', remote: true %><br>
                <% else %>
                  <%= "#{frequency.to_s}: #{word}" %><br>
                <% end %>
              <% end %>
            </div>
          </td>
          <% end %>

          <td>
            <div class="span4" style="margin-left:50px; margin-top: 10px;; margin-right:30px; width:400px; margin-bottom:20px;">
              <div class="twit" style="margin-bottom:20px;">
                <p style="color:white"><small>Twitter: WildStar</small></p>
                <a class="twitter-timeline" href="https://twitter.com/search?q=WildStar" data-widget-id="320382935079469057" data-chrome="noheader nofooter noborders transparent">Tweets about "WildStar"</a>
              </div>
              <div class="twit">
                <p style="color:white"><small>Twitter: @Team_WildStar</small></p>
                <a class="twitter-timeline" href="https://twitter.com/Team_WildStar" data-widget-id="320389343254544384" data-chrome="noheader nofooter noborders transparent">Tweets by @Team_WildStar</a>
              </div>
            </div>

            <% if current_user &&  current_user.admin %>
              <div style="margin-left: 50px;">
                <%= link_to "New stream", new_stream_path() %><br>
                <% @streams.each do |s|%>
                  <%= link_to 'edit', edit_stream_path(s) %> | <%= s.active ? "Active" : "off" %> | <%= link_to s.name, s %><br>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <div class="span1" style="margin-left:0px; margin-top: 70px; margin-right:30px; width:160px">
              <div style="margin-bottom:30px;">
                <script type="text/javascript"><!--
                  google_ad_client = "ca-pub-0864897116796518";
                  /* wildscrape 2 */
                  google_ad_slot = "4793374804";
                  google_ad_width = 160;
                  google_ad_height = 600;
                  //-->
                </script>
                <script type="text/javascript"
                  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
                
                </div>
                  <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-0864897116796518";
                    /* WIldScrape 1 */
                    google_ad_slot = "1061179202";
                    google_ad_width = 160;
                    google_ad_height = 600;
                    //-->
                  </script>
                  <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                  </script>
                <div>
                
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Sign in", user_session_path() %>

<script>
  $('.remove').click(function(){
    $(this).hide();
  });
</script>

<% @streams.each do |stream| %>
  <script>
    $('#bump_rank<%=j stream.id.to_s %>').hide();
    $('#bump<%= stream.id %>').click(function(){
      $('#bump<%= stream.id %>').hide();
      $('#bump_rank<%= stream.id %>').show();      
    });

    $('#left<%= stream.id %>').click(function(){
      $('#stream<%= stream.id %>').prependTo("#stream_table");
    });

    $('#right<%= stream.id %>').click(function(){
      $('#stream<%= stream.id %>').appendTo("#stream_table");
    });

    setTimeout(function(){updateStream(<%= stream.id %>)}, 0);

  </script>
<% end %>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>