<table>
  <tr>
    <td>
      <div class="span4" style="margin-left: 30px;">
        <div id="info" style="margin-top:10px; margin-bottom:30px;">
          <h5>What is WildScrape: </h5>
          <ul>
            <li>The #1(only) WildStar Scrape Site?</li>
            <li>A totally new kind of fan site?</li>
            <li>An attempt to contribute to the community!</li>
            <li><b>A bid at a beta key cupcake!</b></li>
          </ul>
          <h5>What makes WildScrape cool: </h5>
          <div style="padding-top:15px; padding-bottom:5px; padding-left:30px; background-color:darkgray;">
            <p style='margin-bottom:0px; color:white;'><i>Er, that's pretty damn cool.</i></p>
            <p style='margin-top:0px; color:white;'><small>-jg (Carbine Studios Executive Producer)</small></p>
          </div>

          <h5>How do you use WildScrape: </h5>
          <p>Look at things. Click on what your interested in. View it on the inter-webs. Come back and do it again! Oh, and make sure you scroll to the right - you don't want to miss anything.</p>
          <h5>WildScrape feedback goes where?</h5>
          <ul>
            <li>@WildScrape</li>
            <li>TheWildScrape@gmail.com</li>
          </ul>
          <h5>Whats Next in the WildScrape Beta: </h5>
          <ul>
            <li>The Histogram will be cleaned</li>
            <li>Users will submit new streams</li>
            <li>There will be an easy side scroll</li>
            <li>The Server will not crash (more power)</li>
            <li><b>I will get a beta key!</b></li>
          </ul>
          <div style="padding:30px; background-color:black; color:white;"><p><small>Heya, My name is Joey Lapetina. I'm a professional app developer in Houston Texas and I am super excited about modding WildStar. I am looking for nexus adventuring buddies. Drop me a line!</small></p></div>
          
        </div>
        <div class="span4" style="margin-left:0px; margin-top: 29px; ">
          <div class="twit" style="margin-bottom:20px;">
            <p><small>Twitter: WildStar</small></p>
            <a class="twitter-timeline" href="https://twitter.com/search?q=WildStar" data-widget-id="320382935079469057" data-chrome="noheader nofooter noborders transparent">Tweets about "WildStar"</a>
          </div>
          <div class="twit">
            <p><small>Twitter: @Team_WildStar</small></p>
            <a class="twitter-timeline" href="https://twitter.com/Team_WildStar" data-widget-id="320389343254544384" data-chrome="noheader nofooter noborders transparent">Tweets by @Team_WildStar</a>
          </div>
        </div>
        <% if current_user &&  current_user.admin %>
        <div>
          <%= link_to "New stream", new_stream_path() %><br>
          <% @streams.each do |s|%>
          <%= link_to 'edit', edit_stream_path(s) %> | <%= link_to s.name, s %><br>
          <% end %>
        </div>
        <% end %>
      </div>
    </td>

    <% @drop_list = Array.new %>
    <% Word.all.each do |w| %>
      <% @drop_list << w.word %>
    <% end %>
    <% @frequencies = Hash.new(0) %>
    <% @streams.shuffle.each do |stream| %>
    <% begin %>
      <% thing = open(stream.stream_url) %>
    <% rescue %>

    <% else %>
      <% if stream.active %>
        <td>
          <div class="span<%= stream.span %>" style="margin-left:10px;">
            <p style="margin-left: 30px;"><small><%= link_to stream.name, stream.stream_url %></small></p>
            <% @stream = stream %>
            <% data = Nokogiri::HTML(thing) %>
            <% @count = @stream.limit %>

            <% data.css(@stream.item).each do |item| %>
              
              <% if @count.nil? || @count > 0 %>
                <% @count -= 1 unless @count.nil? %>
                <% feed_me(@stream, item) %>
                <% if @title && @item_link %>
                  <div class="span<%= @stream.span %> stream_item" style="padding-bottom:20px;">
                    <% unless @stream.picture == "" || @stream.picture.nil? %>

                        <% if @picture %>
                          <%= link_to stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" do %>
                            
                              <%= image_tag stream.picture_root ? "#{@stream.site_root}#{@picture}" : "#{@picture}", class: "pull-left", style: "width: 95%; padding-bottom: 10px;" %>
                              
                          <% end %>
                        <% end %>
                    <% end %>
                    
                    <h5><%= link_to @title , @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" %></h5>

                    <% if @stream.stream_type == "reddit" %>
                      <p><% @body if @body %></p>
                    <% else %>
                      <p><%= @body if @body %></p>
                    <% end %>
                    <%= link_to "[MORE]", @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" %>
                    <div class="pull-right" style="margin-right:10px">
                      <%= "Replies: #{@replies} | " if @replies %>
                      <% if @stream.stream_type == "forum" %>
                        <%= "views: #{@views}" if @views %>
                      <% elsif @stream.stream_type == "reddit" %>
                        <%= "Rank: #{@views}" if @views %>
                      <% end %>
                    </div>

                  </div>
                  <% if @body %>
                    <% @body = @body.capitalize.gsub(/[^a-z\s]/, '')%>
                    <% words = @body.split(" ") %>
                    <% words -= @drop_list %>
                    <% words.each { |word| @frequencies[word.capitalize] += 1 } %>
                    <% words = nil %>
                  <% end %>

                  <% if @title %>
                    <% @title = @title.capitalize.gsub(/[^a-z\s]/, '')%>
                    <% words = @title.split(" ") %>
                    <% words = words.delete_if {|word| word.length < 4 }%>
                    <% words -= @drop_list %>
                    <% words.each { |word| @frequencies[word.capitalize] += 1 } %>
                    <% words = nil %>
                  <% end %>

                  <% @title = nil %>
                  <% @replies = nil %>
                  <% @views = nil %>
                  <% @item_link = nil %>
                  <% @by_line = nil %>
                  <% @body = nil %>
                  <% @picture = nil %>

                <% end %>
              <% end %>
            <% end %>
            <% if can? :manage, @stream %><div style="margin-left: 30px;">
                <%= link_to 'Edit', edit_stream_path(@stream) %> |
                <%= link_to 'Back', streams_path %>
              </div>
            <% end %>
          </div>
        </td>
      <% end %>
    <% end %>
    <% end %>

    <td>

      <% @frequencies = @frequencies.sort_by {|a, b| b } %>
      <% @frequencies.reverse! %>
      <div class="span2" style="margin-left:40px;">
        <p><small>WildSite: Histogram</small></p>
        <% @frequencies.each do |word, frequency| %>
          <% if current_user && current_user.admin? %>
            <%= link_to "#{frequency.to_s}: #{word}", new_word_path(word: word), class: 'remove', remote: true %><br>
          <% else %>
            <%= "#{frequency.to_s}: #{word}" %><br>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
</table>


<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Sign in", user_session_path() %>
<script>
  $('.remove').click(function(){
    $(this).hide();
  });
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>