<table>
  <tr>
    <td>
      <div class="span4" style="margin-left: 30px;">
        <div id="info" style="margin-top:40px; margin-bottom:30px;">
          <h5>What is WildScrape: </h5>
          <ul>
            <li>The #1 WildStar Scrape Site?</li>
            <li>The only WildStar Scrape Site?</li>
            <li>A totally new kind of fan site?</li>
            <li>An attempt to contribute to the community!</li>
            <li><b>A bid at a beta key cupcake!</b></li>
          </ul>
          <h5>What makes WildScrape cool: </h5>
          <div style="padding-top:15px; padding-bottom:5px; padding-left:30px; background-color:lightgray;">
            <p style='margin-bottom:0px'><i>Er, that's pretty damn cool.</i></p>
            <p style='margin-top:0px'><small>-jg (Carbine Studios Executive Producer)</small></p>
          </div>

          <h5>How do you use WildScrape: </h5>
          <p>Look at things. Click on what your interested in. View it at it's source on the inter-webs. Come back and do it again! Oh, and make sure you scroll to the right - you don't want to miss anything.</p>
          <h5>WildScrape feedback goes where?</h5>
          <p>@WildScrape - Twitter my face off! the more feedback the better!<p>
          <h5>Whats Next in the WildScrape Beta: </h5>
          <ul>
            <li>Get rid of all the boring stuff in the Histogram</li>
            <li>Provide a way for users to submit new streams to scrape</li>
            <li>WildScrape is in Beta server Mode. Professional servers are ready depending on traffic.</li>
            <li><b>Get a beta key cupcake!</b></li>
          </ul>
          <div style="padding:30px; background-color:black; color:white;"><p><small>Heya, My name is Joey Lapetina, I'm a professional programmer/developer (RoR mostly - I'm not great at it.) I am super excited about modding WildStar. I am looking for nexus adventuring buddies.</small></p></div>
          
        </div>
        <div class="span4" style="margin-left:0px;">
          <p style="margin-left: 30px;"><small>Twitter: #WildStar</small></p>
          <a class="twitter-timeline" href="https://twitter.com/search?q=WildStar" data-widget-id="320382935079469057" data-chrome="noheader nofooter noborders transparent">Tweets about "WildStar"</a>
          <p style="margin-left: 30px;"><small>Twitter: @Team_WildStar</small></p>
          <a class="twitter-timeline" href="https://twitter.com/Team_WildStar" data-widget-id="320389343254544384" data-chrome="noheader nofooter noborders transparent">Tweets by @Team_WildStar</a>
        </div>
        <div>
          <%= link_to "New stream", new_stream_path() %><br>
          <% @streams.each do |s|%>
          <%= link_to 'edit', edit_stream_path(s) %> | <%= link_to s.name, s %><br>
          <% end %>
        </div>
      </div>
    </td>
    <% @add_list = Array.new %>
    <% @add_list = ['pax','pc','ps3', 'ps4'] %>

    <% @drop_list = Array.new %>
    <% @drop_list = ['that','this','with','have','about','what','the','latest','your','were','from','some','like','been','last','today','also','they','then','good','more','those','youll','after','finally','first','which','than','when','here','because','though','right','anyone','keep','there','reason','kind','just','down','names','thats','ready','probably','since','comments','selfwildstar','their','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The','The',] %>
    <% @frequencies = Hash.new(0) %>
    <% @streams.shuffle.each do |stream| %>
    <% begin %>
      <% thing = open(stream.stream_url) %>
    <% rescue %>

    <% else %>
      <% if stream.active %>
        <td>
          <div class="span<%= stream.span %>" style="margin-left:10px;">
            <p style="margin-left: 30px;"><small><%= link_to stream.name, stream.stream_url %></small></p>
            <% @stream = stream %>
            <% data = Nokogiri::HTML(thing) %>
            <% @count = @stream.limit %>

            <% data.css(@stream.item).each do |item| %>
              
              <% if @count.nil? || @count > 0 %>
                <% @count -= 1 unless @count.nil? %>
                <% feed_me(@stream, item) %>
                <% if @title && @item_link %>
                  <div class="span<%= @stream.span %> stream_item" style="padding-bottom:20px;">
                    <% unless @stream.picture == "" || @stream.picture.nil? %>

                        <% if @picture %>
                          <%= link_to stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" do %>
                            
                              <%= image_tag stream.picture_root ? "#{@stream.site_root}#{@picture}" : "#{@picture}", class: "pull-left", style: "width: 95%; padding-bottom: 10px;" %>
                              
                          <% end %>
                        <% end %>
                    <% end %>
                    
                    <h5><%= link_to @title , @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" %></h5>

                    <% if @stream.stream_type == "reddit" %>
                      <p><% @body if @body %></p>
                    <% else %>
                      <p><%= @body if @body %></p>
                    <% end %>
                    <%= link_to "[MORE]", @stream.link_root ? "#{@stream.site_root}#{@item_link}" : "#{@item_link}" %>
                    <div class="pull-right" style="margin-right:10px">
                      <%= "Replies: #{@replies} | " if @replies %>
                      <% if @stream.stream_type == "forum" %>
                        <%= "views: #{@views}" if @views %>
                      <% elsif @stream.stream_type == "reddit" %>
                        <%= "Rank: #{@views}" if @views %>
                      <% end %>
                    </div>

                  </div>
                  <% if @body %>
                    <% @body = @body.capitalize.gsub(/[^a-z\s]/, '')%>
                    <% words = @body.split(" ") %>
                    <% words = words.delete_if do |word| %>
                      <% unless @add_list.include? word %>
                        <% word.length < 4 %>
                      <% end %>
                    <% end %>
                    <% words -= @drop_list %>
                    <% words.each { |word| @frequencies[word.capitalize] += 1 } %>
                    <% words = nil %>
                  <% end %>

                  <% if @title %>
                    <% @title = @title.capitalize.gsub(/[^a-z\s]/, '')%>
                    <% words = @title.split(" ") %>
                    <% words = words.delete_if {|word| word.length < 4 }%>
                    <% words -= @drop_list %>
                    <% words.each { |word| @frequencies[word.capitalize] += 1 } %>
                    <% words = nil %>
                  <% end %>

                  <% @title = nil %>
                  <% @replies = nil %>
                  <% @views = nil %>
                  <% @item_link = nil %>
                  <% @by_line = nil %>
                  <% @body = nil %>
                  <% @picture = nil %>

                <% end %>
              <% end %>
            <% end %>
            <% if can? :manage, @stream %><div style="margin-left: 30px;">
                <%= link_to 'Edit', edit_stream_path(@stream) %> |
                <%= link_to 'Back', streams_path %>
              </div>
            <% end %>
          </div>
        </td>
      <% end %>
    <% end %>
    <% end %>

    <td>

      <% @frequencies = @frequencies.sort_by {|a, b| b } %>
      <% @frequencies.reverse! %>
      <div class="span2" style="margin-left:40px;">
        <p><small>WildSite: Histogram</small></p>
        <% @frequencies.each do |word, frequency| %>
          <%= "#{frequency.to_s}: #{word}" %><br>
        <% end %>
      </div>
    </td>
  </tr>
</table>




<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Sign in", user_session_path() %>




<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>