<p id="notice"><%= notice %></p>
  
  <% @data.css(@stream.item).each do |item| %>
    <% feed_me(@stream, item) %>
    <% if @title && @item_link %>
      <div class="span<%= @stream.span %>" style="padding-bottom:20px;">
        <%= image_tag "#{@stream.site_root}#{@picture}", class: "pull-left", style: "width: 95%; padding-bottom: 10px;" %>
        <h5><%= link_to @title , "#{@stream.site_root}#{@item_link}" %></h5>
        <p><%= @body if @body %></p>
        <%= link_to "[MORE]", "#{@stream.site_root}#{@item_link}" %>
        <% if true %>
        <% @title = nil %>
        <% @item_link = nil %>
        <% @by_line = nil %>
        <% @body = nil %>
        <% @picture = nil %>
        <% end %>
      </div>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
