<p id="notice"><%= notice %></p>

<% @data.css(@stream.item).each do |i| %>

  <% @title = i.at_css(@stream.title).text unless @stream.title.empty? || i.at_css(@stream.title).nil?  %>
  <% @by_line = i.at_css(@stream.by_line).text unless @stream.by_line.empty? || i.at_css(@stream.by_line).nil?  %>
  <% @body = i.at_css(@stream.body).text unless @stream.body.empty? || i.at_css(@stream.body).nil?  %>
  <% @picture = i.at_css(@stream.picture).text unless @stream.picture.empty? || i.at_css(@stream.picture).nil?  %>
  <% @item_link = i.css(@stream.item_link).map { |link| link['href'] }.first unless @stream.item_link.empty? || i.at_css(@stream.item_link).nil?  %>
  <h5><%= @title if @title %></h5>
  <p><%= @item_link if @item_link %></p>
  <p><%= @by_line if @by_line %></p>
  <p><%= @body if @body %></p>
   
<% end %>
<br>


<p>
  <b>Name:</b>
  <%= @stream.name %>
</p>

<p>
  <b>By Line:</b>
  <%= @stream.by_line %>
</p>

<p>
  <b>Stream url:</b>
  <%= @stream.stream_url %>
</p>

<p>
  <b>Item:</b>
  <%= @stream.item %>
</p>

<p>
  <b>Title:</b>
  <%= @stream.title %>
</p>

<p>
  <b>Item link:</b>
  <%= @stream.item_link %>
</p>

<p>
  <b>Body:</b>
  <%= @stream.body %>
</p>

<p>
  <b>Picture:</b>
  <%= @stream.picture %>
</p>

<p>
  <b>Video:</b>
  <%= @stream.video %>
</p>


<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
