<p id="notice"><%= notice %></p>

<% @data.css(@stream.item).each do |i| %>

  <% @title = i.at_css(@stream.title).text unless @stream.title.empty? || i.at_css(@stream.title).nil?  %>
  <% @by_line = i.at_css(@stream.by_line).text unless @stream.by_line.empty? || i.at_css(@stream.by_line).nil?  %>
  <% @body = i.at_css(@stream.body).text unless @stream.body.empty? || i.at_css(@stream.body).nil?  %>
  <% @picture = i.css(@stream.picture).map { |link| link['src'] }.first unless @stream.picture.empty? || i.css(@stream.picture).nil?  %>
  <% @item_link = i.css(@stream.item_link).map { |link| link['href'] }.first unless @stream.item_link.empty? || i.at_css(@stream.item_link).nil?  %>

  <% bad_list = [] %>
  <% bad_list << "Read the rest of this entry »" %>

  <% if @body %>
    <% bad_list.each do |b| %>
      <% if @body.include? b  %>
        <% @body.slice! b %>
      <% end %>
    <% end %>
  <% end %>

  <% if @title && @item_link %>
    <div class="span12" style="padding-bottom:20px;">
      <%= image_tag "#{@stream.site_root}#{@picture}", class: "pull-left", style: "padding-right:10px;" %>
      <h5><%= link_to @title , "#{@stream.site_root}#{@item_link}" %></h5>
      <p><%= @body if @body %></p>
      <%= link_to "[MORE]", "#{@stream.site_root}#{@item_link}" %>
    </div>
  <% end %>
  <br> 
<% end %>
<br>


<p>
  <b>Name:</b>
  <%= @stream.name %>
</p>

<p>
  <b>By Line:</b>
  <%= @stream.by_line %>
</p>

<p>
  <b>Stream url:</b>
  <%= @stream.stream_url %>
</p>

<p>
  <b>Item:</b>
  <%= @stream.item %>
</p>

<p>
  <b>Title:</b>
  <%= @stream.title %>
</p>

<p>
  <b>Site root:</b>
  <%= @stream.site_root %>
</p>

<p>
  <b>Item link:</b>
  <%= @stream.item_link %>
</p>

<p>
  <b>Body:</b>
  <%= @stream.body %>
</p>

<p>
  <b>Picture:</b>
  <%= @stream.picture %>
</p>

<p>
  <b>Video:</b>
  <%= @stream.video %>
</p>


<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
