<%= form_for(@scrapebot) do |f| %>
  <% if @scrapebot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrapebot.errors.count, "error") %> prohibited this scrapebot from being saved:</h2>

      <ul>
      <% @scrapebot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :game %><br />
    <%= f.text_field :game %>
  </div>
  <div class="field">
    <%= f.label :stream_count %><br />
    <%= f.number_field :stream_count %>
  </div>
  <div class="field">
    <%= f.label :stream_item_count %><br />
    <%= f.number_field :stream_item_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
