<!DOCTYPE html>
<html>
<head>
  <title>WildScrape</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="on">
  <%= link_to "#" do %>
    <div id="tab">
      <p>WILDSCRAPE INFO</p>
    </div>
  <% end %>
  <%= link_to "#" do %>
    <div id="bulb_off">
      <p><i class="icon-bolt"></i> lights off</p>
    </div>
    <div id="bulb_on">
      <p><i class="icon-bolt"></i> lights on</p>
    </div>
  <% end %>
	<div class="" style="margin-top:10px;">
		<%= yield %>
	</div>
</body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39871477-1', 'wildscrape.com');
  ga('send', 'pageview');

</script>
<script>
$(document).ready(function() {
  $('#bulb_on').hide();
  $('#bulb_off').click(function(){
    $('body').removeClass('on').addClass('off');
    $('#bulb_off').hide();
    $('#bulb_on').show();
  });

  $('#bulb_on').click(function(){
    $('body').removeClass('off').addClass('on');
    $('#bulb_on').hide();
    $('#bulb_off').show();
  });

  $('#info').hide();
  $('#tab').mouseenter(function() {
    $('#info').show('fast');
    $('#tab').css("margin-top", "-15px")
  });
  $('#tab').mouseleave(function() {
    $('#info').hide('fast');
    $('#tab').css("margin-top", "-25px")
  });

  $('#info').hide();
  $('#bulb').mouseenter(function() {
    $('#info').show('fast');
    $('#bulb').css("margin-top", "-15px")
  });
  $('#bulb').mouseleave(function() {
    $('#info').hide('fast');
    $('#bulb').css("margin-top", "-25px")
  });
});
</script>

