<!DOCTYPE html>
<html>
<head>
  <title>WildScrape</title>
  <link href="<%= asset_path('favicon.ico') %>" rel="shortcut icon">
  <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <style>
  .fix_me {
    position:;
  }

  .my_tab p {
    font-family: 'Ultra', serif;
    color:black;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 125%;
  }

  .my_tab a:hover {
    text-decoration: none;
  }

  .navbar-inverse a {
    color:#33b5e5 !important;
  }
  </style>
</head>
  <body class="off bumpers" style="margin-bottom:100px; <%= "margin-top:60px" if @top == true %>">
    
    <div id="left_box" style="position:fixed;">

    </div>
    
    <div id="right_box" style="position:fixed;">
    
    </div>

    <% if params[:notice] %>
      <div id="notice" class="btn btn-inverse"><%= notice %></div>
    <% end %>

  	<div class="" style="margin-top:10px;">  
  		<%= yield %>
  	</div>


    <div class="navbar navbar-fixed-top navbar-inverse" style="min-width:1100px; height:45px;">
      <div class="navbar-inner" style="min-width:1100px; height:45px;">
        <div class="container" style="background-color:black; width:100%; height:46px; border-bottom-color: #33b5e5; border-bottom-width: 1px; border-bottom-style: solid; padding-left:30px; padding-right:50px;">     
          
          <% unless @category %>
            <% @game ||= 'wildstar' %>
            <%= link_to "http://wildscrape.com/#{@game}", class: "brand", style: "color:white !important;" do %>
              <b>WildScrape:</b><%= "#{@game.capitalize}"%>
            <% end %>
          <% else %>
            <%= link_to "http://wildscrape.com/#{@game}", class: "brand" do %><b>WildScrape:</b><%= "#{@game.capitalize}"%><% end %>
          <% end %>

          <ul class="nav" style="margin-top: 2px;">
            
            <% if @category && @category == 'blogs' %>
              <li class="active">
                <%= link_to categories_path(@game, 'blogs'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'blog'}.length %>
                  </span>
                  <%= " Blogs" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'blogs') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'blog'}.length %>
                  </span>
                   <%= " Blogs" %>
                <% end %>
              </li>
            <% end %>
            
            <% if @category && @category == 'videos' %>
              <li class="active">
                <%= link_to categories_path(@game, 'videos'), style: "color:white !important;"  do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'video'}.length %>
                  </span>
                   <%= " Videos" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'videos') do %>
                <span class="label ", style="color:black;">
                  <%= @game_streams.select {|s| s.category.split(" ").include? 'video'}.length %>
                </span>
                 <%= " Videos" %>
                <% end %>
              </li>
            <% end %>

            <% if @category && @category == 'podcasts' %>
              <li class="active">
                <%= link_to categories_path(@game, 'podcasts'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'podcast'}.length %>
                  </span>
                   <%= " Podcasts" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'podcasts') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'podcast'}.length %>
                  </span>
                   <%= " Podcasts" %>
                <% end %>
              </li>
            <% end %>

            <% if @category && @category == 'boards' %>
              <li class="active">
                <%= link_to categories_path(@game, 'boards'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'board'}.length %>
                  </span>
                   <%= " Boards" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'boards') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'board'}.length %>
                  </span>
                   <%= " Boards" %>
                <% end %>
              </li>
            <% end %>

            <% if @category && @category == 'mainstreams' %>
              <li class="active">
                <%= link_to categories_path(@game, 'mainstreams'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'mainstream'}.length %>
                  </span>
                   <%= " Mainstream Sites" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'mainstreams') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'mainstream'}.length %>
                  </span>
                   <%= " Mainstream Sites" %>
                <% end %>
              </li>
            <% end %>

            <li>
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <% if current_user %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-heart"></i> <%= current_user.email %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to categories_path(@game, 'favorites') do %>
                          <i class="icon-heart"></i> <%= "My #{@game} Favorites!" %>
                        <% end %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "#wildScrapeModal", role: "button", "data-toggle" => "modal" do %>
                          
                            <i class="icon-rocket"></i>
                            
                             Info
                        <% end %>
                      </li>
                      <li>
                        <%= link_to "#gamesModal", role: "button", "data-toggle" => "modal" do %>
                          
                            <i class="icon-gamepad"></i>
                         
                           Scrapes
                        <% end %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to destroy_user_session_path, :method => :delete do %>
                          <i class="icon-signout"></i> Sign out
                        <% end %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "#modal-log-in", 'data-toggle' => "modal" do %>
                      <i class="icon-signin"></i> Sign in
                    <% end %>
                  </li>
                <% end %>
                <li>
                  <%= link_to scrapebot_path(:game => @game) do %>
                    <%= image_tag "https://si0.twimg.com/profile_images/378800000149227367/6b2cca11b434c22f7af402aae4e6e4dc_bigger.jpeg", style: "width: 30px; margin-top: -5px; border-color: #33b5e5; border-width: 1px;" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#joey", role: "button", "data-toggle" => "modal", class: "pull-right" do %>
                    <i class="icon-rocket"></i> Joey Needs Work! [Resume Here]
                  <% end %>
                </li>
              </ul>

            </li>
          </ul>



         
        </div>
      </div>
    </div>

  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39871477-1', 'wildscrape.com');
  ga('send', 'pageview');

</script>

<script>
  $(document).ready(function() {
    var window_width = $(window).width();
    var site_width = $('#main_table').width();
    var window_height = $(window).height();
    var table_width = $('#main_table').width();

    var right_over = false;
    var left_over = false;

    $('#main_table').animate({
      'margin-left': '-=' + 100 //should be 200
    }, 120 * 4, function() {
      // Animation complete.
    });

    $(".left_add").css({
        "width": window_width / 8,
    });

    $("#left_box").css({
      "width": window_width / 8,
      "height": window_height
    });

    $("#right_box").css({
      "width": window_width / 8,
      "height": window_height,
      "margin-left": window_width - window_width / 8
    });

    $("#right_box").mouseover(function() {
        var current_margin = parseInt($('#main_table').css('margin-left'), 10);

        var next_right = (current_margin + table_width - window_width + 620 + window_width / 8);

        $('#right_box').css({
          "background": "rgba(255, 255, 255, 0.16)"
        });

        $('#main_table').animate({
          'margin-left': '-=' + next_right
        }, next_right * 2, function() {
          // Animation complete.
        });
    });

    $("#left_box").mouseenter(function() {
      var current_margin = parseInt($('#main_table').css('margin-left'), 10);
      var next_left = (current_margin - 20);

      $('#left_box').css({
        "background": "rgba(255, 255, 255, 0.16)"
      });

      $('#main_table').animate({
        'margin-left': '-=' + next_left
      }, (next_left * 2) * -1, function() {
        // Animation complete.
      });
    });

    $('#right_box').mouseout(function() {
      $('#main_table').stop();

      $('#right_box').css({
        "background": "rgba(255, 255, 255, 0)"
      });
    });

    $('#left_box').mouseout(function() {
      $('#main_table').stop();

      $('#left_box').css({
        "background": "rgba(255, 255, 255, 0)"
      });
    });

    $('#left').click(function() {
      $('#main_table').animate({
        'margin-left': '+=' + (window_width - 100)
      }, 500, function(){

      })
    });

    $('#right').click(function() {
      $('#main_table').animate({
        'margin-left': '-=' + (window_width - 100)
      }, 500, function(){

      })
    });

    $('.bump_text').click(function() {
      $(this).replaceWith('thanks');
    });

    $('#notice').click(function() {
      $('#notice').hide('fast');
    });

    $('#kill').click(function() {
      $('#hist').remove();
    });
  });
</script>

<div class="modal hide fade" id="modal-log-in" style="width: 375px; background-color:black; border-color:#33b5e5;">
  <div class="modal-header" style="height:30px;">
    <h3 class="pull-left" style="margin-top: 5px; color:white;">WildScrape</h3> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <h4 style="color:white">Sign in</h4>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div></br>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div></br>

      <div><%= f.submit "Sign in", class: 'btn btn-info' %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<div class="modal hide fade" id="joey" style="width: 640px; background-color:black; border-color:#33b5e5;">
  <div class="modal-header" style="height:30px;">
    <h3 class="pull-left" style="margin-top: 5px; color:white;">Joey Lapetina III</h3> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <p>29406 Legends Bluff Dr. Spring, Tx. 77386 | JoeyLapetina@gmail.com</p>
    
    <hr />

    <p>Solutions-focused, Military professional with experience in team management, analytical thinking, and creative design. I want to do anything. If you know of a job in the Houston area - let me know.</p>

    <br />

    <h4>EXPERIENCE</h4>

    <table class="table">
      <tr>
        <td class="span2">
          10/2013 to Current
        </td>
        <td>
          <h5 style="margin-top:0px;">Applications Developer</h5>
          <p><%= link_to 'Scouting.io', 'https://scouting.io/', :target => '_blank' %> - The Woodlands, Tx.</p>
          <p>Collaborated with end users to create clean interfaces and simple, intuitive interactions and experiences. Created front-end applications with Javascript and other AJAX tool sets.</p>
        </td>
      </tr>
      <tr>
        <td class="span2">
          04/2012 to 10/2013
        </td>
        <td>
          <h5 style="margin-top:0px;">Applications Developer</h5>
          <p><%= link_to 'Committee of Chief Risk Officers', 'https://ccro.org/', :target => '_blank' %> - The Woodlands, Tx.</p>
          <p>Built applications for CXOs and Risk Officers from all over the energy industry that allowed them to communicate with each-other on important issues without breaking any antitrust laws. </p>
        </td>
      </tr>
      <tr>
        <td class="span2">
          08/2007 to 04/2012
        </td>
        <td>
          <h5 style="margin-top:0px;">Lead Inventory Control Specialist</h5>
          <p><%= link_to 'Apple', 'http://www.apple.com/retail/thewoodlands/', :target => '_blank' %> - The Woodlands, Tx.</p>
          <p>Directed Back of house operations with a focus on team building, unit accuracy, and shrink. Lead my store to have some of the highest Unit accuracy and lowest shrink in all of Apple. We were also awarded for having above 99% accuracy on many of our physical inventories. </p>
        </td>
      </tr>
      <tr>
        <td class="span2">
          01/2003 to 06/2007
        </td>
        <td>
          <h5 style="margin-top:0px;">Military Police</h5>
          <p><%= link_to 'US Army', 'http://www.goarmy.com/', :target => '_blank' %> - Germany, Italy</p>
          <p>I was proud to serve my country as a soldier and Military Police. The Army instilled in me Loyalty, Duty, Respect, Selfless Service, Honor, Integrity, and Personal Courage.</p>
        </td>
      </tr>
    </table>

    <br />

    <h4>PROJECTS</h4>

    <table class="table">
      <tr>
        <td>
          <h4><%= link_to 'WildScrape', 'http://wildscrape.com/', :target => '_blank' %></h4>
          <p>Community gaming project. WildScrape has been called ‘Very Cool’ by Jeremy Gaffney the executive producer of Carbine studios - the company behind the upcoming triple-A MMO WildStar. WildScrape is a scraping tool that pulls in streams of content live from the web and dynamically shows massive amounts of data in an easy to understand format.</p>
        </td>
      </tr>
      <tr>
        <td>
          <h4><%= link_to 'The CCRO Website', 'http://ccro.org/', :target => '_blank' %></h4>
          <p>This is the main project I have been working on for the last two years. The CCRO is a non-profit organisation that allows the CXOs of major national and international energy companies to speak with each other about a wide variety of topics without breaking any antitrust law. The site is a content management and social network hybrid platform that consists of many different applications including blogs, surveys tools, white paper libraries, advertizing systems, and much more.</p>
        </td>
      </tr>
      <tr>
        <td>
          <h4><%= link_to 'The EDH site', 'http://energydatahub.com/', :target => '_blank' %></h4>
          <p>This was a small two week project I worked on as a spin off of the CCRO. The Energy Data Hub is a service for energy companies that allows them to upload their transactional data and in return get composite industry data they would not otherwise have access to. This site allows people to request information about the company and sign up to join with the service.</p>
        </td>
      </tr>
      <tr>
        <td>
          <h4><%= link_to 'Scouting.io', 'https://scouting.io/', :target => '_blank' %></h4>
          <p>This is the project I have been working on for the last four months and I am currently working on. We have set up an amazing back end service that will hold all information for the entire Boy Scouts of America. On top of that backend we are building a series of applications. Right now we are working on a social networking service built on top of the scouting hierarchy and a robo calling application.  </p>
        </td>
      </tr>
    </table>



  </div>
</div>

