<!DOCTYPE html>
<html>
<head>
  <title>WildScrape</title>
  <link href="<%= asset_path('favicon.ico') %>" rel="shortcut icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  .hide {
    display:none;
  }
  .fix_me {
    position:;
  }
  </style>
</head>
  <body class="off bumpers">
    <div id="left_box" style="position:fixed;">

    </div>
    
    <div id="right_box" style="position:fixed;">
    
    </div>

    <div class="box_rotate shadow" style="background-color:black; width:3000px; height:30px; margin-left:-1487px; position: fixed;">
      <h5><a href="#myModal" id="other_games_link" class="" role="button" data-toggle="modal"><i class="icon-beaker"></i> WildScrape!</a></h5>
    </div>

<% if false %>
    <%= link_to "#", remote: true do %>
      <div id="left">
        <p><i class="icon-lines"></i> Left</p>
      </div>
    <% end %>

    <%= link_to "#", remote: true do %>
      <div id="right">
        <p><i class="icon-lines"></i> Right</p>
      </div>
    <% end %>
<% end %>

    <% if params[:notice] %>
      <div id="notice" class="btn btn-inverse"><%= notice %></div>
    <% end %>

  	<div class="" style="margin-top:10px;">  
  		<%= yield %>
  	</div>
  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39871477-1', 'wildscrape.com');
  ga('send', 'pageview');

</script>

<script>
  $(document).ready(function() {
    var window_width = $(window).width();
    var window_height = $(window).height();
    var table_width = $('#main_table').width();
    var right_over = false;
    var left_over = false;

    $("#left_box").css({
      "width": window_width / 8,
      "height": window_height
    });

    $("#right_box").css({
      "width": window_width / 8,
      "height": window_height,
      "margin-left": window_width - window_width / 8
    });

    $("#right_box").mouseover(function() {
        var current_margin = $('#main_table').css('margin-left');
        var table_width = $('#main_table').width();
        next_move = (current_margin - table_width);

        $('#right_box').css({
          "background": "rgba(255, 255, 255, 0.16)"
        });

        $('#main_table').animate({
          'margin-left': '-=' + table_width
        }, 10000, function() {
          // Animation complete.
        });
    });

    $("#left_box").mouseenter(function() {

      $('#left_box').css({
        "background": "rgba(255, 255, 255, 0.16)"
      });

      $('#main_table').animate({
        'margin-left': '+=' + table_width
      }, 10000, function() {
        // Animation complete.
      });
    });

    $('#right_box').mouseout(function() {
      $('#main_table').stop();

      $('#right_box').css({
        "background": "rgba(255, 255, 255, 0)"
      });
    });

    $('#left_box').mouseout(function() {
      $('#main_table').stop();

      $('#left_box').css({
        "background": "rgba(255, 255, 255, 0)"
      });
    });

    $('#left').click(function() {
      $('#main_table').animate({
        'margin-left': '+=' + (window_width - 100)
      }, 500, function(){

      })
    });

    $('#right').click(function() {
      $('#main_table').animate({
        'margin-left': '-=' + (window_width - 100)
      }, 500, function(){

      })
    });

    $('.bump_text').click(function() {
      $(this).replaceWith('thanks');
    });

    $('#notice').click(function() {
      $('#notice').hide('fast');
    });

    $('#kill').click(function() {
      $('#hist').remove();
    });


    
  });
</script>

