<!DOCTYPE html>
<html>
<head>
  <title>WildScrape</title>
  <link href="<%= asset_path('favicon.ico') %>" rel="shortcut icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  .hide {
    display:none;
  }
  </style>
</head>
  <body class="off">
    <%= link_to "#" do %>
      <div id="explanation_tab">
        <p>ABOUT WILDSCRAPE</p>
      </div>
    <% end %>

    <%= link_to "#" do %>
      <div id="info_tab">
        <p>WHATS WHAT?</p>
      </div>
    <% end %>

    <%= link_to "https://trello.com/board/wildscrape-roadmap/51718857476549314e005c22" do %>
      <div id="road_map">
        <i class="icon-truck"></i>
      </div>
    <% end %>

    <%= link_to new_submission_path do %>
      <div id="new_submission_link" >
        <p><i class="icon-cloud"></i> Add a stream!</p>
      </div>
    <% end %>

    <% if params[:notice] %>
      <div id="notice" class="btn btn-inverse"><%= notice %></div>
    <% end %>

  	<div class="" style="margin-top:10px;">  
  		<%= yield %>
  	</div>
  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39871477-1', 'wildscrape.com');
  ga('send', 'pageview');

</script>

<script>
  $(document).ready(function() {

    $('.bump_text').click(function() {
      $(this).replaceWith('thanks');
    });

    $('#info').hide();
    $('#info_table').hide();
    $('#explanation').hide();

    $('#notice').click(function() {
      $('#notice').hide('fast');
    });

    $('#info_tab').mouseenter(function() {
      $('#info').show('fast');
      $('#info_table').show();
      $('#info_tab').css("margin-top", "-15px")
    });

    $('#info_tab').mouseleave(function() {
      $('#info').hide('fast');
      $('#info_table').hide();
      $('#info_tab').css("margin-top", "-25px")
    });
    
    $('#explanation_tab').mouseenter(function() {
      $('#explanation').show('fast');
      $('#info_table').show();
      $('#explanation_tab').css("margin-top", "-15px")
    });

    $('#explanation_tab').mouseleave(function() {
      $('#explanation').hide('fast');
      $('#info_table').hide();
      $('#explanation_tab').css("margin-top", "-25px")
    });

    $('#kill').click(function() {
      $('#hist').remove();
    });

    
  });
</script>

