<!DOCTYPE html>
<html>
<head>
  <title>WildScrape</title>
  <link href="<%= asset_path('favicon.ico') %>" rel="shortcut icon">
  <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <style>
  .fix_me {
    position:;
  }

  .my_tab p {
    font-family: 'Ultra', serif;
    color:black;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 125%;
  }

  .my_tab a:hover {
    text-decoration: none;
  }

  .navbar-inverse a {
    color:#33b5e5 !important;
  }
  </style>
</head>
  <body class="off bumpers" style="margin-bottom:100px; <%= "margin-top:60px" if @top == true %>">
    <% if false %>
      <div class="pull-left shadow" style="position:fixed; background:black; z-index: 1 !important;">
        <div style="background:#33b5e5;">
          <div class="my_tab" style="padding:5px;">
            <%= link_to "#wildScrapeModal", role: "button", "data-toggle" => "modal" do %>
              <p style="margin-bottom: 5px;" ><i class="icon-rocket" style="font-size: 120% !important;"></i></p>
              <p>W</p>
              <p>I</p>
              <p>L</p>
              <p>D</p>
              <p>S</p>
              <p>C</p>
              <p>R</p>
              <p>A</p>
              <p>P</p>
              <p>E</p>
            <% end %>
          </div>
        </div>
      </div>

       <div class="pull-left shadow" style="position:fixed; background:black; z-index: 1 !important; margin-top:250px;">
        <div style="background:#33b5e5;">
          <div class="my_tab" style="padding:5px;">
            <%= link_to "#gamesModal", role: "button", "data-toggle" => "modal" do %>
              <p style="margin-bottom: 5px;" ><i class="icon-gamepad" style="font-size: 120% !important;"></i></p>
              <p>O</p>
              <p>T</p>
              <p>H</p>
              <p>E</p>
              <p>R</p>
              <p></br></p>
              <p>G</p>
              <p>A</p>
              <p>M</p>
              <p>E</p>
              <p>S</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    
    <div id="left_box" style="position:fixed;">

    </div>
    
    <div id="right_box" style="position:fixed;">
    
    </div>

    <% if false %>
      <div class="box_rotate shadow" style="background-color:black; width:3000px; height:30px; margin-left:-1487px; position: fixed;">
        <h5><a href="#myModal" id="other_games_link" class="" role="button" data-toggle="modal"><i class="icon-beaker"></i> WildScrape!</a></h5>
      </div>
    <% end %>

    <% if false %>
        <%= link_to "#", remote: true do %>
          <div id="left">
            <p><i class="icon-lines"></i> Left</p>
          </div>
        <% end %>

        <%= link_to "#", remote: true do %>
          <div id="right">
            <p><i class="icon-lines"></i> Right</p>
          </div>
        <% end %>
    <% end %>

    <% if params[:notice] %>
      <div id="notice" class="btn btn-inverse"><%= notice %></div>
    <% end %>

  	<div class="" style="margin-top:10px;">  
  		<%= yield %>
  	</div>

<% unless @top %>
    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner" >
        <div class="container" style="background-color:black; width:100%; height:60px; border-top-color: #33b5e5; border-top-width: 1px; border-top-style: solid; padding-left:50px; padding-right:50px;">
<% else %>
    <div class="navbar navbar-fixed-top navbar-inverse" style="min-width:1100px;">
      <div class="navbar-inner" style="min-width:1100px;">
        <div class="container" style="background-color:black; width:100%; height:46px; border-bottom-color: #33b5e5; border-bottom-width: 1px; border-bottom-style: solid; padding-left:30px; padding-right:50px;">
<% end %>       
          
          <% unless @category %>
            <%= link_to "http://wildscrape.com/#{@game}", class: "brand", style: "color:white !important;" do %>
              <b>WildScrape:</b><%= "#{@game.capitalize}"%>
            <% end %>
          <% else %>
            <%= link_to "http://wildscrape.com/#{@game}", class: "brand" do %><b>WildScrape:</b><%= "#{@game.capitalize}"%><% end %>
          <% end %>

         
          <ul class="nav" style="margin-top: 2px;">
            

            <% if @category && @category == 'blogs' %>
              <li class="active">
                <%= link_to categories_path(@game, 'blogs'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'blog'}.length %>
                  </span>
                  <%= " Blogs" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'blogs') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'blog'}.length %>
                  </span>
                   <%= " Blogs" %>
                <% end %>
              </li>
            <% end %>
            
            <% if @category && @category == 'videos' %>
              <li class="active">
                <%= link_to categories_path(@game, 'videos'), style: "color:white !important;"  do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'video'}.length %>
                  </span>
                   <%= " Videos" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'videos') do %>
                <span class="label ", style="color:black;">
                  <%= @game_streams.select {|s| s.category.split(" ").include? 'video'}.length %>
                </span>
                 <%= " Videos" %>
                <% end %>
              </li>
            <% end %>

            <% if @category && @category == 'podcasts' %>
              <li class="active">
                <%= link_to categories_path(@game, 'podcasts'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'podcast'}.length %>
                  </span>
                   <%= " Podcasts" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'podcasts') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'podcast'}.length %>
                  </span>
                   <%= " Podcasts" %>
                <% end %>
              </li>
            <% end %>

            <% if @category && @category == 'boards' %>
              <li class="active">
                <%= link_to categories_path(@game, 'boards'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'board'}.length %>
                  </span>
                   <%= " Boards" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'boards') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'board'}.length %>
                  </span>
                   <%= " Boards" %>
                <% end %>
              </li>
            <% end %>

            <% if @category && @category == 'mainstreams' %>
              <li class="active">
                <%= link_to categories_path(@game, 'mainstreams'), style: "color:white !important;" do %>
                  <span class="label label-info", style="color:black; background-color:white;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'mainstream'}.length %>
                  </span>
                   <%= " Mainstream Sites" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to categories_path(@game, 'mainstreams') do %>
                  <span class="label ", style="color:black;">
                    <%= @game_streams.select {|s| s.category.split(" ").include? 'mainstream'}.length %>
                  </span>
                   <%= " Mainstream Sites" %>
                <% end %>
              </li>
            <% end %>

            <li>
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <% if current_user %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-user"></i> <%= current_user.email %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to categories_path(@game, 'favorites') do %>
                          <i class="icon-heart"></i> <%= "My #{@game} Favorites!" %>
                        <% end %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "#wildScrapeModal", role: "button", "data-toggle" => "modal" do %>
                          
                            <i class="icon-rocket"></i>
                            
                             Info
                        <% end %>
                      </li>
                      <li>
                        <%= link_to "#gamesModal", role: "button", "data-toggle" => "modal" do %>
                          
                            <i class="icon-gamepad"></i>
                         
                           Scrapes
                        <% end %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to destroy_user_session_path, :method => :delete do %>
                          <i class="icon-signout"></i> Sign out
                        <% end %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "#modal-log-in", 'data-toggle' => "modal" do %>
                      <i class="icon-signin"></i> Sign in
                    <% end %>
                  </li>
                <% end %>
              </ul>

            </li>
          </ul>

         
        </div>
      </div>
    </div>

  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39871477-1', 'wildscrape.com');
  ga('send', 'pageview');

</script>

<script>
  $(document).ready(function() {
    var window_width = $(window).width();
    var site_width = $('#main_table').width();
    var window_height = $(window).height();
    var table_width = $('#main_table').width();

    var right_over = false;
    var left_over = false;

    $('#main_table').animate({
      'margin-left': '-=' + 120 //should be 200
    }, 120 * 4, function() {
      // Animation complete.
    });

    $(".left_add").css({
        "width": window_width / 8,
    });

    $("#left_box").css({
      "width": window_width / 8,
      "height": window_height
    });

    $("#right_box").css({
      "width": window_width / 8,
      "height": window_height,
      "margin-left": window_width - window_width / 8
    });

    $("#right_box").mouseover(function() {
        var current_margin = parseInt($('#main_table').css('margin-left'), 10);

        var next_right = (current_margin + table_width - window_width + 620 + window_width / 8);

        $('#right_box').css({
          "background": "rgba(255, 255, 255, 0.16)"
        });

        $('#main_table').animate({
          'margin-left': '-=' + next_right
        }, next_right * 2, function() {
          // Animation complete.
        });
    });

    $("#left_box").mouseenter(function() {
      var current_margin = parseInt($('#main_table').css('margin-left'), 10);
      var next_left = (current_margin - 20);

      $('#left_box').css({
        "background": "rgba(255, 255, 255, 0.16)"
      });

      $('#main_table').animate({
        'margin-left': '-=' + next_left
      }, (next_left * 2) * -1, function() {
        // Animation complete.
      });
    });

    $('#right_box').mouseout(function() {
      $('#main_table').stop();

      $('#right_box').css({
        "background": "rgba(255, 255, 255, 0)"
      });
    });

    $('#left_box').mouseout(function() {
      $('#main_table').stop();

      $('#left_box').css({
        "background": "rgba(255, 255, 255, 0)"
      });
    });

    $('#left').click(function() {
      $('#main_table').animate({
        'margin-left': '+=' + (window_width - 100)
      }, 500, function(){

      })
    });

    $('#right').click(function() {
      $('#main_table').animate({
        'margin-left': '-=' + (window_width - 100)
      }, 500, function(){

      })
    });

    $('.bump_text').click(function() {
      $(this).replaceWith('thanks');
    });

    $('#notice').click(function() {
      $('#notice').hide('fast');
    });

    $('#kill').click(function() {
      $('#hist').remove();
    });
  });
</script>

<div class="modal hide fade" id="modal-log-in" style="width: 375px; background-color:black; border-color:#33b5e5;">
  <div class="modal-header" style="height:30px;">
    <h3 class="pull-left" style="margin-top: 5px; color:white;">WildScrape</h3> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <h4 style="color:white">Sign in</h4>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div></br>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div></br>

      <% if false %>
        <% if devise_mapping.rememberable? %>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end %>
      <% end %>

      <div><%= f.submit "Sign in", class: 'btn btn-info' %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

